apiVersion: v1
kind: Service
metadata:
  name: aks-storage-app-sp-service
  labels:
    app: aks-storage-app-sp
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: aks-storage-app-sp
